.api-data {
  border: 1px solid #333;
  margin: 50px auto;
  max-width: 1200px;
  padding: 0;
}

.api-data li {
  list-style: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
  border-bottom: 1px solid #333;
}